<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iQuizDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE7A2C891BF2F6BB000E785A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE7A2C9D1BF2F6BB000E785A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE7A2CA81BF2F6BB000E785A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
